In [36]:
import pandas as pd
import seaborn as sns
from ydata_profiling import ProfileReport

In [37]:
df = pd.read_csv("EDUCATION_ATTAINMENT.csv")
###to save a file to csv
df.head(5)

,Ages[15-49]_All_grade1,Ages[15-49]_All_grade2,Ages[15-49]_All_grade3,Ages[20-29]_All_grade1,Ages[20-29]_All_grade2,Ages[20-29]_All_grade3,Ages[30-39]_All_grade1,Ages[30-39]_All_grade2,Ages[30-39]_All_grade3,Ages[40-49]_All_grade1,...,Ages[20-29]_Female_grade2,Ages[20-29]_Female_grade3,Ages[30-39]_Female_grade1,Ages[30-39]_Female_grade2,Ages[30-39]_Female_grade3,Ages[40-49]_Female_grade1,Ages[40-49]_Female_grade2,Ages[40-49]_Female_grade3,country,year
0,0.669091,0.667214,0.651812,0.460899,0.458749,0.446925,0.292791,0.290929,0.279100,0.250981,...,0.279915,0.272185,0.111428,0.109101,0.103791,0.098721,0.097825,0.092263,Afghanistan,2015
1,0.485879,0.480171,0.465510,0.267236,0.265735,0.257999,0.191279,0.188839,0.182693,0.187151,...,0.122435,0.117916,0.084555,0.083607,0.080518,0.065466,0.065466,0.064012,Afghanistan,2007
2,0.516431,0.514233,0.502269,0.327775,0.326250,0.318003,0.221981,0.220472,0.214040,0.205611,...,0.157744,0.151130,0.086072,0.085138,0.082124,0.073085,0.073037,0.071735,Afghanistan,2010
3,0.914294,0.903528,0.871690,0.853770,0.840792,0.810794,0.775725,0.757109,0.713569,0.786468,...,0.786506,0.746073,0.699617,0.675786,0.618058,0.687626,0.648913,0.576818,Angola,2015
4,0.876990,0.841497,0.762864,0.881265,0.854158,0.795892,0.883625,0.853812,0.805231,0.747516,...,0.793379,0.712726,0.808248,0.762858,0.693267,0.559192,0.516735,0.429649,Angola,1999

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Ages[15-49]_All_grade1     626 non-null    float64
 1   Ages[15-49]_All_grade2     626 non-null    float64
 2   Ages[15-49]_All_grade3     626 non-null    float64
 3   Ages[20-29]_All_grade1     626 non-null    float64
 4   Ages[20-29]_All_grade2     626 non-null    float64
 5   Ages[20-29]_All_grade3     626 non-null    float64
 6   Ages[30-39]_All_grade1     625 non-null    float64
 7   Ages[30-39]_All_grade2     625 non-null    float64
 8   Ages[30-39]_All_grade3     625 non-null    float64
 9   Ages[40-49]_All_grade1     625 non-null    float64
 10  Ages[40-49]_All_grade2     625 non-null    float64
 11  Ages[40-49]_All_grade3     625 non-null    float64
 12  Ages[15-49]_Male_grade1    626 non-null    float64
 13  Ages[15-49]_Male_grade2    626 non-null    float64
 14  Ages[15-49]_Male_grade3    626 non-null    float64
 15  Ages[20-29]_Male_grade1    626 non-null    float64
 16  Ages[20-29]_Male_grade2    626 non-null    float64
 17  Ages[20-29]_Male_grade3    626 non-null    float64
 18  Ages[30-39]_Male_grade1    625 non-null    float64
 19  Ages[30-39]_Male_grade2    625 non-null    float64
 20  Ages[30-39]_Male_grade3    625 non-null    float64
 21  Ages[40-49]_Male_grade1    625 non-null    float64
 22  Ages[40-49]_Male_grade2    625 non-null    float64
 23  Ages[40-49]_Male_grade3    625 non-null    float64
 24  Ages[15-49]_Female_grade1  626 non-null    float64
 25  Ages[15-49]_Female_grade2  626 non-null    float64
 26  Ages[15-49]_Female_grade3  626 non-null    float64
 27  Ages[20-29]_Female_grade1  626 non-null    float64
 28  Ages[20-29]_Female_grade2  626 non-null    float64
 29  Ages[20-29]_Female_grade3  626 non-null    float64
 30  Ages[30-39]_Female_grade1  625 non-null    float64
 31  Ages[30-39]_Female_grade2  625 non-null    float64
 32  Ages[30-39]_Female_grade3  625 non-null    float64
 33  Ages[40-49]_Female_grade1  625 non-null    float64
 34  Ages[40-49]_Female_grade2  625 non-null    float64
 35  Ages[40-49]_Female_grade3  625 non-null    float64
 36  country                    626 non-null    object
 37  year                       626 non-null    int64
dtypes: float64(36), int64(1), object(1)
memory usage: 186.0+ KB

In [22]:
df.describe()

,Ages[15-49]_All_grade1,Ages[15-49]_All_grade2,Ages[15-49]_All_grade3,Ages[20-29]_All_grade1,Ages[20-29]_All_grade2,Ages[20-29]_All_grade3,Ages[30-39]_All_grade1,Ages[30-39]_All_grade2,Ages[30-39]_All_grade3,Ages[40-49]_All_grade1,...,Ages[20-29]_Female_grade1,Ages[20-29]_Female_grade2,Ages[20-29]_Female_grade3,Ages[30-39]_Female_grade1,Ages[30-39]_Female_grade2,Ages[30-39]_Female_grade3,Ages[40-49]_Female_grade1,Ages[40-49]_Female_grade2,Ages[40-49]_Female_grade3,year
count,626.000000,626.000000,626.000000,626.000000,626.000000,626.000000,625.000000,625.000000,625.000000,625.000000,...,626.000000,626.000000,626.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,626.000000
mean,0.873886,0.861490,0.837509,0.823849,0.812738,0.789965,0.766171,0.752519,0.724980,0.709166,...,0.790544,0.778972,0.755644,0.719020,0.704342,0.675526,0.646864,0.628309,0.593585,2005.049521
std,0.162624,0.166895,0.176555,0.200559,0.202587,0.207979,0.236563,0.237679,0.240681,0.259998,...,0.236541,0.238637,0.243755,0.278133,0.279059,0.281139,0.302723,0.302637,0.301434,7.894248
min,0.251917,0.244071,0.233274,0.079610,0.079610,0.079610,0.098059,0.091358,0.085236,0.036549,...,0.029662,0.029662,0.029662,0.060930,0.058368,0.053241,0.022547,0.022022,0.020972,1981.000000
25%,0.831791,0.803131,0.757465,0.744915,0.723418,0.678869,0.639447,0.612464,0.561545,0.527055,...,0.678596,0.658977,0.616380,0.534060,0.508218,0.463656,0.400638,0.372404,0.330846,2000.000000
50%,0.948926,0.935167,0.909587,0.910132,0.896568,0.864849,0.853861,0.831246,0.794898,0.785356,...,0.900869,0.887206,0.853414,0.815823,0.794049,0.749927,0.719924,0.686513,0.625602,2005.000000
75%,0.984447,0.980112,0.971166,0.973777,0.967410,0.955625,0.959097,0.948259,0.922841,0.937129,...,0.974514,0.968962,0.959495,0.958022,0.946510,0.920707,0.929507,0.914777,0.875928,2011.000000
max,1.000000,1.000000,1.000000,1.000000,0.999824,0.999264,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.999777,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2020.000000

In [ ]:
profile = ProfileReport(df, title='Education_Attainment Profile', explorative=True)
profile.to_file("EDUCATION_ATTAINMENT.html")

In [39]:
df.isnull()

,Ages[15-49]_All_grade1,Ages[15-49]_All_grade2,Ages[15-49]_All_grade3,Ages[20-29]_All_grade1,Ages[20-29]_All_grade2,Ages[20-29]_All_grade3,Ages[30-39]_All_grade1,Ages[30-39]_All_grade2,Ages[30-39]_All_grade3,Ages[40-49]_All_grade1,...,Ages[20-29]_Female_grade2,Ages[20-29]_Female_grade3,Ages[30-39]_Female_grade1,Ages[30-39]_Female_grade2,Ages[30-39]_Female_grade3,Ages[40-49]_Female_grade1,Ages[40-49]_Female_grade2,Ages[40-49]_Female_grade3,country,year
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
622,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
623,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
624,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
625,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [46]:
pd.set_option('display.max_columns', None)

In [47]:
df.head()

,Ages[15-49]_All_grade1,Ages[15-49]_All_grade2,Ages[15-49]_All_grade3,Ages[20-29]_All_grade1,Ages[20-29]_All_grade2,Ages[20-29]_All_grade3,Ages[30-39]_All_grade1,Ages[30-39]_All_grade2,Ages[30-39]_All_grade3,Ages[40-49]_All_grade1,Ages[40-49]_All_grade2,Ages[40-49]_All_grade3,Ages[15-49]_Male_grade1,Ages[15-49]_Male_grade2,Ages[15-49]_Male_grade3,Ages[20-29]_Male_grade1,Ages[20-29]_Male_grade2,Ages[20-29]_Male_grade3,Ages[30-39]_Male_grade1,Ages[30-39]_Male_grade2,Ages[30-39]_Male_grade3,Ages[40-49]_Male_grade1,Ages[40-49]_Male_grade2,Ages[40-49]_Male_grade3,Ages[15-49]_Female_grade1,Ages[15-49]_Female_grade2,Ages[15-49]_Female_grade3,Ages[20-29]_Female_grade1,Ages[20-29]_Female_grade2,Ages[20-29]_Female_grade3,Ages[30-39]_Female_grade1,Ages[30-39]_Female_grade2,Ages[30-39]_Female_grade3,Ages[40-49]_Female_grade1,Ages[40-49]_Female_grade2,Ages[40-49]_Female_grade3,country,year
0,0.669091,0.667214,0.651812,0.460899,0.458749,0.446925,0.292791,0.290929,0.279100,0.250981,0.248945,0.237003,0.816546,0.814355,0.801192,0.644394,0.641686,0.625674,0.467792,0.466380,0.448260,0.398761,0.395617,0.377484,0.512733,0.511190,0.493414,0.281518,0.279915,0.272185,0.111428,0.109101,0.103791,0.098721,0.097825,0.092263,Afghanistan,2015
1,0.485879,0.480171,0.465510,0.267236,0.265735,0.257999,0.191279,0.188839,0.182693,0.187151,0.186541,0.183361,0.615897,0.610735,0.594344,0.417831,0.415445,0.404348,0.305830,0.301790,0.292361,0.309030,0.307808,0.302900,0.337259,0.330927,0.318244,0.123089,0.122435,0.117916,0.084555,0.083607,0.080518,0.065466,0.065466,0.064012,Afghanistan,2007
2,0.516431,0.514233,0.502269,0.327775,0.326250,0.318003,0.221981,0.220472,0.214040,0.205611,0.205062,0.200147,0.645472,0.643722,0.632224,0.488213,0.486835,0.477032,0.356104,0.354028,0.344222,0.330364,0.329344,0.321027,0.368800,0.366090,0.353592,0.159424,0.157744,0.151130,0.086072,0.085138,0.082124,0.073085,0.073037,0.071735,Afghanistan,2010
3,0.914294,0.903528,0.871690,0.853770,0.840792,0.810794,0.775725,0.757109,0.713569,0.786468,0.758427,0.708025,0.943719,0.934511,0.901751,0.917778,0.911683,0.895311,0.869510,0.857323,0.831267,0.888346,0.871305,0.843261,0.887010,0.874799,0.843817,0.804754,0.786506,0.746073,0.699617,0.675786,0.618058,0.687626,0.648913,0.576818,Angola,2015
4,0.876990,0.841497,0.762864,0.881265,0.854158,0.795892,0.883625,0.853812,0.805231,0.747516,0.717519,0.646261,0.912438,0.882079,0.805788,0.947246,0.931045,0.901097,0.967384,0.954881,0.929648,0.913294,0.894267,0.836943,0.844908,0.804769,0.724017,0.829108,0.793379,0.712726,0.808248,0.762858,0.693267,0.559192,0.516735,0.429649,Angola,1999

In [49]:
df[['Ages[15-49]_All_grade1','year']].corr()

                        Ages[15-49]_All_grade1      year
Ages[15-49]_All_grade1                1.000000  0.176906
year                                  0.176906  1.000000

In [ ]:
###As the Age[15-49]_All_grade1 is strong,the year becomes weak